<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.example.course.dao.StudentDao">
        <resultMap id="studentMap" type="com.example.course.entity.Student">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentName" column="student_name" jdbcType="VARCHAR"/><!--学生姓名-->
            <result property="studentNum" column="student_num" jdbcType="VARCHAR"/><!--学生学号-->
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="grade" column="grade" jdbcType="INTEGER"/><!--学生年级-->
            <result property="college" column="college" jdbcType="VARCHAR"/><!--学生学院-->

        </resultMap>
        <select id="verify" resultMap="studentMap">
            select * from student where student_num=#{arg0} and password=#{arg1}
        </select>
        <update id="update" >
            update student set student_name=#{studentName},password=#{password},grade=#{grade} where id=#{id}
        </update>
        <select id="findById"  parameterType="int" resultMap="studentMap">
            select * from  student where id=#{id}
        </select>

</mapper>